data/
standard_BNN.ipynb
hpc_jobscript_det.sh
wandb/
TODO
__pycache__/
testing_and_sandbox/
hpc_jobscript_det.sh
.DS_Store
BNN/discarded/lr_scheduler_test.py
rank1_bnn_main_SANDBOX.py
deterministic_WR_model.pth
r1BNN_seed-321_2-components.pth
experiments/
BNN_corrupt_data_entropy.txt
BNN_normal_data_entropy.txt
det_corrupt_data_entropy.txt
det_normal_data_entropy.txt
BNN_corrupt_data_entropy_v2.txt
BNN_normal_data_entropy_v2.txt
BNN_corrupt_data_entropy_v3.txt
BNN_normal_data_entropy_v3.txt
BNN_corrupt_data_entropy_log2.txt
BNN_corrupt_data_entropy_NewInit_log2.txt
BNN_normal_data_entropy_NewInit_log2.txt
BNN_normal_data_entropy_log2.txt
det_corrupt_data_entropy_log2.txt
det_normal_data_entropy_log2.txt
results_processing/